@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #f4f2f0; 
    color:rgb(0, 0, 0);
    margin: 0;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 10% 0 0 0;
    font-family: 'Roboto';
    font-weight: 500;
    color: rgb(29,30,30);
}
.calc-container{
    margin: 2% auto 10% auto;
    align-items: center;
    width: 280px;
    background-color: rgb(29,30,30);
    padding: 0.5%;
    border-radius: 5%;
}

.grid{
    border-radius: 4px;
    background-color: rgb(29,30,30);
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-auto-rows: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    border-width: 0;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-1px) scale(1.02);
    background-color: #505050;
 }

 .zero:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-1px) scale(1.01);
    background-color: #505050;
 }

.result{
    background: #4b4b4b;
    grid-column: span 4/auto;
    font-weight: 400;
}
.result:hover{
    box-shadow: rgba(2, 8, 20, 0.1);
    transform: none;
    background-color: #4b4b4b;

}
.clear{
    grid-column: span 2/auto;
}

.zero{
    grid-column: span 3/auto;
}
.division, .multiply, .substract, .add, .equals{
    background-color: rgb(207, 109, 5);
}

.division:hover, .multiply:hover, .substract:hover, .add:hover, .equals:hover{
    background-color: rgb(226, 123, 6);
}

@media only screen and (max-width:800px){
    body {
        font-size: 0.9rem;
        }

    .calc-container{
        width: 250px;
        padding: 2%;
    }

    .calc-container{
        margin: 5% auto 10% auto;
}
}